header {
  height: 50px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      gap: 8px;
      list-style: none;

      li {
        cursor: pointer;
      }
    }
  }
}

.nav-list {
  display: flex;
  gap: 8px;
}
