<section class="container">
  <header>Login Form</header>

  <form class="form" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="column">
      <div class="input-box">
        <input type="text" placeholder="Username" formControlName="username" />
        <small
          *ngIf="reactiveForm.get('username').errors?.['required'] && reactiveForm.get('firstname').touched"
        >
          *Username is a required field.
        </small>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Password" formControlName="password" />
        <small
          *ngIf="
            reactiveForm.get('password').invalid &&
            reactiveForm.get('password').touched
          "
        >
          Password is a required field.
        </small>
      </div>
    </div>

    <input type="submit" value="Submit" class="submit-btn" />
    <!-- [disabled]="!reactiveForm.valid" -->
  </form>
</section>
